.curved_section_content__activities__article {
    padding-block-end: 100px;
    padding-block-start: 100px;
}

// .curved_section_content__activities__article__image,
// .curved_section_content__activities__article__title,
// .curved_section_content__activities__article__description {
//     padding-inline-end: 18px;
//     padding-inline-start: 18px;
// }

.curved_section_content__activities__article__image {
    margin-block-start: -15px;
    padding-block-start: 100px;
}

.curved_section_content__activities__article__title {
    padding-block-start: 48px;
    margin-block-start: -8px;
}

.curved_section_content__activities__article
.curved_section_content__activities__article__wrapper {
    background-color: #f6fbff;   
}


.curved_section_content__activities__article:nth-of-type(2) .curved_section_content__activities__article__wrapper {
    background-color: transparent;
}

.curved_section_content__activities__article:nth-of-type(1) {
    background-image: url("../images/bg-section-top-mobile-1.svg"), url("../images/bg-section-bottom-mobile-1.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: 100%, 100%;
    background-position-y: 0%, 100%;
    padding-block-start: 28%;
}

// .curved_section_content__activities__article:nth-of-type(1) .curved_section_content__activities__article__text_wrapper {
//     background-color: #f6fbff;
// }

// .curved_section_content__activities__article:nth-of-type(1) .curved_section_content__activities__article__image {
//     background-color: #f6fbff;
// }

.curved_section_content__activities__article:nth-of-type(1) .curved_section_content__activities__article__description {
    margin-block-end: -57px;
    padding-block-end: 63px;
}

.curved_section_content__activities__article:nth-of-type(3) {
    background-image: url("../images/bg-section-top-mobile-2.svg"), url("../images/bg-section-bottom-mobile-2.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: 100%, 100%;
    background-position-y: 0%, 107%;
    padding-block-start: 26%;
}

// .curved_section_content__activities__article:nth-of-type(3) .curved_section_content__activities__article__text_wrapper {
//     background-color: #f6fbff;
// }

// .curved_section_content__activities__article:nth-of-type(3) .curved_section_content__activities__article__image {
//     background-color: #f6fbff;
// }

.curved_section_content__activities__article:nth-of-type(3) .curved_section_content__activities__article__description {
    margin-block-end: -57px;
    padding-block-end: 63px;
}

@media (min-width: 800px) {
    .curved_section_content__activities {
        text-align: start;
    }

    .curved_section_content__activities__article:nth-of-type(1) {
        margin-inline-start: auto;
        margin-inline-end: auto;
    }

    .curved_section_content__activities__article__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        grid-gap: 100px;
    }

    .curved_section_content__activities__article:nth-of-type(1) {
        background-image: url("../images/bg-section-top-desktop-1.svg"), 
            url("../images/bg-section-bottom-desktop-1.svg");
        background-repeat: no-repeat, no-repeat;
        background-size: 100%, 100%;
        background-position-y: 0%, 100%;
        padding-block-start: 50%;
    }

    .curved_section_content__activities__article:nth-of-type(3) {
        background-image: url("../images/bg-section-top-desktop-2.svg"), 
            url("../images/bg-section-bottom-desktop-2.svg");
        background-repeat: no-repeat, no-repeat;
        background-size: 100%, 100%;
        background-position-y: 0%, 100%;
        padding-block-start: 50%;
    }

    .curved_section_content__activities__article:nth-of-type(n) .curved_section_content__activities__article__image {
        grid-column: 2;
    }

    .curved_section_content__activities__article:nth-of-type(n)
        .curved_section_content__activities__article__text_wrapper {
        grid-row: 1;
    }

    .curved_section_content__activities__article:nth-of-type(2n) .curved_section_content__activities__article__image {
        grid-column: 1;
    }

    .curved_section_content__activities__article:nth-of-type(2n)
        .curved_section_content__activities__article__text_wrapper {
        grid-column: 2;
    }

    // .curved_section_content__activities__article:nth-of-type(1) .curved_section_content__activities__article__text_wrapper {
    //     background-color: unset;
    // }

    // .curved_section_content__activities__article:nth-of-type(1) .curved_section_content__activities__article__image {
    //     background-color: unset;
    // }
    
    // .curved_section_content__activities__article:nth-of-type(3) .curved_section_content__activities__article__text_wrapper {
    //     background-color: unset;
    // }

    // .curved_section_content__activities__article:nth-of-type(3) .curved_section_content__activities__article__image {
    //     background-color: unset;
    // }
}
