.curved_section_content__build_communication {
    max-width: 320px;
    margin: auto;
}
.curved_section_content__build_communication__title {
    padding-block-end: 32px;
    padding-block-start: 32px;
    max-width: 300px;
}

.curved_section_content__build_communication__description {
    padding-block-end: 32px;
}

.curved_section_content__build_communication__get_started {
    background-color: #ff52c1;
    color: #ffffff;
    padding-inline-end: 32px;
    padding-inline-start: 33px;
    padding-block-end: 16px;
    padding-block-start: 16px;
    border-radius: 25px;
}

.curved_section_content__build_communication__get_started:hover {
    box-shadow: 0 2px 5px #aca5a9;
    transition: 0.3s ease-out;
}

.curved_section_content__build_communication__image {
    padding-block-start: 100px;
}

.curved_section_content__build_communication__icon {
    max-width: 10%;
}

.curved_section_content__build_communication__navigation__lists {
    padding-block-end: 50px;
    padding-block-start: 50px;
    padding-inline-start: 0;
}

.curved_section_content__build_communication__navigation__link_wrapper {
    margin-inline-start: -110px;
    padding-block-start: 50px;
}

.curved_section_content__build_communication__navigation__number {
    font-size: 72px;
}

.curved_section_content__build_communication__navigation__text {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 800px) {
    .curved_section_content__build_communication__title {
        max-width: none;
    }

    .curved_section_content__build_communication__description {
        max-width: 432px;
        margin: auto;
        padding-block-end: 54px;
    }

    .curved_section_content__build_communication__navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }
}
