.curved_section_header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-block-start: 32px;
    padding-block-end: 50px;
    text-align: center;
}

.curved_section_header_heading__link {
    margin-inline-start: -40px;
}

.curved_section_header_heading__logo {
    width: 50%;
}

.curved_section_header__try_free_link {
    color: #ff52c1;
    padding-inline-end: 16px;
    padding-inline-start: 17px;
    padding-block-end: 5px;
    padding-block-start: 6px;
    border: #ff52c1 1px solid;
    border-radius: 20px;
}

.curved_section_header__try_free_link:hover {
    box-shadow: 0 0 2px #ff52c1;
}

@media (min-width: 800px) {
    .curved_section_header {
        justify-content: space-between;
        padding-inline-start: 140px;
        padding-inline-end: 100px;
    }

    .curved_section_header_heading__logo {
        width: 100%;
    }

    .curved_section_header__try_free_link {
        padding-inline-end: 32px;
        padding-inline-start: 33px;
        padding-block-end: 10px;
        padding-block-start: 11px;
     }
}
