body {
  margin: 0; }

html {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5; }

img {
  width: 100%;
  height: auto; }

li {
  list-style: none; }

a {
  text-decoration: none; }

.curved_section_header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-block-start: 32px;
  padding-block-end: 50px;
  text-align: center; }

.curved_section_header_heading__link {
  margin-inline-start: -40px; }

.curved_section_header_heading__logo {
  width: 50%; }

.curved_section_header__try_free_link {
  color: #ff52c1;
  padding-inline-end: 16px;
  padding-inline-start: 17px;
  padding-block-end: 5px;
  padding-block-start: 6px;
  border: #ff52c1 1px solid;
  border-radius: 20px; }

.curved_section_header__try_free_link:hover {
  box-shadow: 0 0 2px #ff52c1; }

@media (min-width: 800px) {
  .curved_section_header {
    justify-content: space-between; } }

main {
  text-align: center;
  padding-inline-end: 18px;
  padding-inline-start: 18px; }

@media (min-width: 800px) {
  main {
    padding-inline-end: 0;
    padding-inline-start: 0; } }

.curved_section_content__build_communication__title {
  padding-block-end: 32px;
  padding-block-start: 32px;
  max-width: 300px; }

.curved_section_content__build_communication__description {
  padding-block-end: 32px; }

.curved_section_content__build_communication__get_started {
  background-color: #ff52c1;
  color: #ffffff;
  padding-inline-end: 32px;
  padding-inline-start: 33px;
  padding-block-end: 16px;
  padding-block-start: 16px;
  border-radius: 25px; }

.curved_section_content__build_communication__get_started:hover {
  box-shadow: 0 2px 5px #aca5a9;
  transition: 0.3s ease-out; }

.curved_section_content__build_communication__image {
  padding-block-start: 100px; }

.curved_section_content__build_communication__icon {
  max-width: 10%; }

.curved_section_content__build_communication__navigation__lists {
  padding-block-end: 50px;
  padding-block-start: 50px;
  padding-inline-start: 0; }

.curved_section_content__build_communication__navigation__link_wrapper {
  margin-inline-start: -110px;
  padding-block-start: 50px; }

.curved_section_content__build_communication__navigation__number {
  font-size: 72px; }

.curved_section_content__build_communication__navigation__text {
  color: #3e52a3; }

@media (min-width: 800px) {
  .curved_section_content__build_communication__title {
    max-width: none; }
  .curved_section_content__build_communication__description {
    max-width: 432px;
    margin: auto;
    padding-block-end: 54px; }
  .curved_section_content__build_communication__navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline; } }

.curved_section_content__activities__article {
  background-image: url("../images/bg-section-top-mobile-1.svg");
  background-repeat: no-repeat;
  background-size: 100%; }

.curved_section_content__activities__article {
  padding-block-end: 100px;
  padding-block-start: 100px; }

.curved_section_content__activities__article__title {
  padding-block-start: 48px; }

@media (min-width: 800px) {
  .curved_section_content__activities {
    text-align: start; }
  .curved_section_content__activities__article:nth-of-type(1) {
    margin-inline-start: -18px;
    margin-inline-end: -18px; }
  .curved_section_content__activities__article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 100px; }
  .curved_section_content__activities__article:nth-of-type(n)
.curved_section_content__activities__article__image {
    grid-column: 2; }
  .curved_section_content__activities__article:nth-of-type(n)
.curved_section_content__activities__article__text_wrapper {
    grid-row: 1; }
  .curved_section_content__activities__article:nth-of-type(2n)
.curved_section_content__activities__article__image {
    grid-column: 1; }
  .curved_section_content__activities__article:nth-of-type(2n)
.curved_section_content__activities__article__text_wrapper {
    grid-column: 2; } }

.curved_section_content__get_started {
  padding-block-end: 100px;
  padding-block-start: 50px; }

.curved_section_content__get_started__title {
  padding-block-end: 32px; }

.curved_section_content__get_started__link {
  background-color: #ff52c1;
  color: #ffffff;
  padding-inline-end: 32px;
  padding-inline-start: 33px;
  padding-block-end: 16px;
  padding-block-start: 16px;
  border-radius: 25px; }

.curved_section_content__get_started__link:hover {
  box-shadow: 0 2px 5px #aca5a9;
  transition: .3s ease-out; }
