body {
  margin: 0; }

html {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5; }

img {
  width: 100%;
  height: auto; }

li {
  list-style: none; }

a {
  text-decoration: none; }

.curved_section_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-block-start: 32px;
  padding-block-end: 50px;
  text-align: center; }

.curved_section_header_heading__link {
  margin-inline-start: -40px;
  padding-inline-end: 32px; }

.curved_section_header_heading__logo {
  width: 50%; }

.curved_section_header__try_free_link {
  color: #ff52c1;
  padding-inline-end: 16px;
  padding-inline-start: 17px;
  padding-block-end: 5px;
  padding-block-start: 6px;
  border: #ff52c1 1px solid;
  border-radius: 20px; }

.curved_section_header__try_free_link:hover {
  box-shadow: 0 0 2px #ff52c1; }

main {
  text-align: center;
  padding-inline-end: 18px;
  padding-inline-start: 18px; }

.curved_section_content__build_communication__title {
  padding-block-end: 32px;
  padding-block-start: 32px;
  max-width: 300px; }

.curved_section_content__build_communication__description {
  padding-block-end: 32px; }

.curved_section_content__build_communication__get_started {
  background-color: #ff52c1;
  color: #ffffff;
  padding-inline-end: 32px;
  padding-inline-start: 33px;
  padding-block-end: 16px;
  padding-block-start: 16px;
  border-radius: 25px; }

.curved_section_content__build_communication__get_started:hover {
  box-shadow: 0 2px 5px #aca5a9; }

.curved_section_content__build_communication__image {
  padding-block-start: 100px; }

.curved_section_content__build_communication__icon {
  max-width: 10%; }

.curved_section_content__build_communication__navigation__lists {
  padding-block-end: 50px;
  padding-block-start: 50px;
  padding-inline-start: 0; }

.curved_section_content__build_communication__navigation__link_wrapper {
  margin-inline-start: -110px;
  padding-block-start: 50px; }

.curved_section_content__build_communication__navigation__number {
  font-size: 72px; }

.curved_section_content__build_communication__navigation__text {
  color: #3e52a3; }
